@font-face{
    src: url(../../assets/fonts/MilleniaPersonalUse-w1OB8.ttf);
    font-family: millenial;
  }
  
*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #efeef3;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}